<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yudiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yudiz.e_cigarette.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:targetApi="n">

        <activity android:name="com.yudiz.e_cigarette.main.brand_list.VypeAct" />
        <activity android:name="com.yudiz.e_cigarette.main.brand_list.BluAct" />
        <activity android:name="com.yudiz.e_cigarette.main.brand_list.LogicAct" />
        <activity android:name="com.yudiz.e_cigarette.main.brand_list.VampireVapeAct" />
        <activity android:name="com.yudiz.e_cigarette.main.testimonials.TestimonialsAct" />
        <activity android:name="com.yudiz.e_cigarette.main.saving_calc.SavingCalcAct" />
        <activity android:name="com.yudiz.e_cigarette.main.vaping.VapingAct" />
        <activity android:name="com.yudiz.e_cigarette.main.our_brands.OurBrandsAct" />
        <activity android:name="com.yudiz.e_cigarette.main.personalise_vape.PersonaliseVapeAct" />

        <activity
            android:name="com.yudiz.e_cigarette.main.home.HomeAct"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name="com.yudiz.e_cigarette.main.entrymodule.view.SplashScreenAct"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yudiz.e_cigarette.main.entrymodule.view.MainAct"
            android:screenOrientation="landscape" />
    </application>

</manifest>