<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yudiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".e_cigarette.App"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:targetApi="n">

        <activity
            android:name=".e_cigarette.main.brand_listmodule.BrandsDetailAct"
            android:screenOrientation="landscape" />
        <activity android:name=".e_cigarette.main.categorymodule.testimonials.TestimonialsAct" />
        <activity android:name=".e_cigarette.main.categorymodule.saving_calc.SavingCalcAct" />
        <activity android:name=".e_cigarette.main.categorymodule.vaping.VapingAct" />
        <activity android:name=".e_cigarette.main.categorymodule.our_brands.OurBrandsAct" />
        <activity android:name=".e_cigarette.main.categorymodule.personalise_vape.PersonaliseVapeAct" />
        <activity
            android:name=".e_cigarette.main.homemodule.HomeAct"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".e_cigarette.main.entrymodule.view.SplashScreenAct"
            android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>